BasedOnStyle: LLVM
IndentWidth: 4
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
BreakBeforeBraces: Attach
ColumnLimit: 100
# BreakBeforeBraces: Stroustrup
# BreakBeforeBraces: Allman
